{% extends 'base.html' %}
{% block content %}
  <h1 class ="title">{% block title %} Months {% endblock %}</h1> 
  <table class ="month">
    {% for month in months %}
      <tr>
        <th class="monthTitle", colspan = "10">{{month.month}}</th>
      </tr>
      {% for week in month.weeks %}
        <tr>
          <th class ="week", colspan = "10">Week # {{week.id}}</th>
        </tr>
        {% for day in week.days %}
          <tr>  
              <td class="cells"> <a href="{{ url_for('display_day', day_id=day.id)}}">{{day.day}}</a></td>
              {% for time in day.times %}
                <td class="cells">{{time.time}}</td>
              {% endfor %}
          </tr>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </table>
{% endblock %}
