.title {
  text-align: center;
  margin: 10px;
  width: 100%;
}



.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.month {
  text-align: center;
  flex: 20%;
  padding: 5px;
  margin: 5px;
  background-color: #00ffcc;
  inline-size: 100%;
}

.week {
  color: #330033;
  text-decoration: none;
}


td {
  border: 1px solid white;
  color: #FFFF;
  padding: 10px;
}

nav a {
  color: #000066;
  font-size: 2em;
  margin-left: 50px;
  text-decoration: none;
}