.title {
  text-align: center;
  margin: 10px;
  width: 100%;
  font-size: 50px;
}

.day {
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  padding: 16px;
  margin: 5px;
}

.monthContainer {
  position: relative;
  margin: auto; 
  width: 80%;
  
}

.month {
  text-align: center;
  flex: 20%;
  padding: 5px;
  margin: 20px;
  width: 100%;
  background-color: #00ffcc;
  border: 5px solid black;
}

.monthTitle {
  font-size: 30px;
  text-align: center; 
  padding: 10px;
}

.week {
  color: #330033;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

a:link {
  text-decoration: none;
  color: black; 
}

a:visited {
  color: gray;
}

input {
  margin: 2px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}



td {
  border: 1px solid white;
  color: #FFFF;
  padding: 20px;
}

.cells {
  width: 20%; 
}

td:hover {
  background-color: #003329;
}

nav a {
  color: #000066;
  font-size: 2em;
  margin-left: 50px;
  text-decoration: none;
}

nav a:visited {
  color: #000066;
}


.register {
  margin: auto; 
  padding: 20px; 
  width: 40%;
  text-align: center;
  background-color: grey; 
}

.field {
  margin: 20px; 
}

.box {
  margin: 10px; 
  padding: 10px; 
  border: 2px solid black;
  background-color: white; 
}

html {
  height: 100%;
  width: 100%;
}

button {
  background-color: gray;
  /* Gray */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px;


}

button:hover {
  background-color: #FCEEA7;
  color: black;
  transition: 0.3s;
}

submit {
  background-color: gray;
  /* Gray */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px;


}

submit:hover {
  background-color: #FCEEA7;
  color: black;
  transition: 0.3s;
}