.title {
  text-align: center;
  margin: 10px;
  width: 100%;
  font-size: 50px;
}

.day {
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  padding: 16px;
  margin: 5px;
}

.monthContainer {
  position: relative;
  margin: auto; 
  width: 80%;
  
}

.month {
  text-align: center;
  flex: 20%;
  padding: 5px;
  margin: 20px;
  width: 100%;
  background-color: #00ffcc;
  border: 5px solid black;
}

.monthTitle {
  font-size: 30px;
  text-align: center; 
  padding: 10px;
}

.week {
  color: #330033;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/*The colors between previously visited and non-visited pages can be swapped. I am indecisive -Sl*/

a:link {
  text-decoration: none;
  color: black;
  /*color: #4bad99bb;*/ 
}

a:visited {
  font-weight: bolder;
  color: black;
  /*color: #4bad99bb;*/ 
}

input {
  margin: 2px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}



td {
  border: 1px solid white;
  color: black;
  padding: 20px;
}

.cells {
  width: 20%; 
}

td:hover {
  /*background-color: #FCEEA7;*/

    background-color: #4bad99bb; 

    /*I lied, I got rid of cohesion because I like this color on the seafoam green -SL*/

}

nav a {
  color: #000066;
  font-size: 2em;
  margin-left: 50px;
  text-decoration: none;
}

nav a:visited {
  color: #000066;
}