
<!DOCTYPE html>
<html>
  

<head>
  <meta charset="UTF-8">
  <title>{% block title %}  {% endblock %} - SchedulingApp</title>
  <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}"/> 

</head>

<nav>
  <a href="/">Home</a>
  <a href="{{ url_for('index') }}">Calendar</a>
  <a href="/times">Time Slots</a>
  
</nav>
<hr>

<head>
  <link href="{{ url_for('static', filename='./style.css') }}" rel="stylesheet" type="text/css"/>
  <meta charset="UTF-8" />
</head>

<body>
  <title> Time Slot</title>
  <h1> Welcome to the Calender!</h1>
  <p> Please select a time slot that you are available on </p>


  <!--These are split into 6 hour sections for now -SL-->

  <button id= 0 >12:00 AM</button>
  <button id= 1>1:00 AM</button>
  <button id=2>2:00 AM</button>
  <button id=3>3:00 AM</button>
  <button id=4>4:00 AM</button>
  <button id=5>5:00 AM</button>
  <br>
  <button id=6>6:00 AM</button>
  <button id=7>7:00 AM</button>
  <button id=8>8:00 AM</button>
  <button id=9>9:00 AM</button>
  <button id=10>10:00 AM</button>
  <button id=11>11:00 AM</button>
  <br>
  <button id=12>12:00 PM</button>
  <button id=13>1:00 PM</button>
  <button id=14>2:00 PM</button>
  <button id=15>3:00 PM</button>
  <button id=16>4:00 PM</button>
  <button id=17>5:00 PM</button>
  <br>
  <button id=18>6:00 PM</button>
  <button id=19>7:00 PM</button>
  <button id=20>8:00 PM</button>
  <button id=21>9:00 PM</button>
  <button id=22>10:00 PM</button>
  <button id=23>11:00 PM</button>
  <br> <br>
  <button id="btnSubmit">Submit</button>
  <button id="btnInvert">Invert Selection</button>




  <script>

let userSubmission = [];

let btns = document.querySelectorAll('button:not(#btnSubmit):not(#btnInvert)');


//All of the button code has been refactored into this -SL

btns.forEach(function (buttonClick) 
{
    buttonClick.style.background = 'green';
    //Feel free to change this, I just prefer that buttons start out on green rather than white -SL

    buttonClick.addEventListener('click', function () 
    {

        if (document.getElementById(buttonClick.id).style.background == 'green') 
        {
            document.getElementById(buttonClick.id).style.background = 'red';
        } 
        else 
        {
        document.getElementById(buttonClick.id).style.background = 'green'; 
    }
});
});



const btnSubmit = document.getElementById('btnSubmit');

btnSubmit.addEventListener('click', function onClick() 
{
    btns.forEach(function (submitSelected)
    {
        if (document.getElementById(submitSelected.id).style.background == 'green') 
        {
            userSubmission[submitSelected.id] = 1;
        }

        else 
        {
            userSubmission[submitSelected.id] = 0;
        }
    });

    //Send the array to the database

    window.alert("Selection Submitted.");
    //redirect..?
}); 


const btnInvert = document.getElementById('btnInvert');

btnInvert.addEventListener('click', function onClick() 
{
    

    btns.forEach(function (invertSelected)
    {
        if (document.getElementById(invertSelected.id).style.background == 'green')
        {
            document.getElementById(invertSelected.id).style.background = 'red';
        }

        else if (document.getElementById(invertSelected.id).style.background == 'red')
        {
            document.getElementById(invertSelected.id).style.background = 'green'
        }
    });

    window.alert("Selection Inverted.");
});


  </script>



</body>

</html>