<!DOCTYPE html>
<html>
  
<style>
  h1 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  body {text-align: center;}
  div {text-align: center;}
  </style>



<head>
  <meta charset="UTF-8">
  <title>Calendar</title>
  <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}"/> 

</head>

<nav>
  <a href="/">Home</a>
  <a href="{{ url_for('index') }}">Calendar</a>
  
</nav>
<hr>

<head>
  <link href="{{ url_for('static', filename='./style.css') }}" rel="stylesheet" type="text/css"/>
  <meta charset="UTF-8" />
</head>
  
  {% block content %} 
  <span class="title"<h1>{% block title %} Week {{day.week_id}} {% endblock %}</h1></span>
  <div class="content">
    <div class="month">
      <div class="content">
          <table class="day">
            <tr>
              <th class="title">{{day.day}}</th>
            </tr>
            {% for time in day.times %}
              <tr>
                <td>
                  {{time.time}}
                  <div>
                    <form method="POST" action="{{ url_for('delete_time', time_id=time.id) }}">
                      <!--I don't know how to make the delete buttons match the other ones unfortunately -SL-->
                      <input type="submit" value="Delete Time" onclick="return confirm('Are you sure you want to delete this time?')"> 
                    </form>
                  </div>
                  <!--Added this back in just so that it's there -SL-->
                  <div>
                    <form method="POST" action="{{ url_for('edit_time', time_id=time.id) }}">
                        <label for="time">Edit Time</label>
                        <input type="text" name="time" value={{time.time}} placeholder="Time"></input>
                        <input type="submit" value="Update Time"></input>
                    </form>
                    
                  </div>
                </td>
              </tr>
            {% endfor %}
          </table>
      </div>
    </div>
  </div>
{% endblock %}

<!-- This method is here so that post works. Once the array of times can post, then it can be replaced. I put it back so that there's SOMETHING that works. -SL-->
<form method="post">
  <p>
    <label for="time">Type in Time:</label><br>
    <input type="text" id="time" name="time"><br>
  </p>
  <p>
    <button type="submit" id="retroSubmit">Add Time</button>
  </p>
</form>


<body>
  <h1> Welcome to the Calender!</h1>
  <p> Please select a time slot that you are available on </p>

  <button id="01:00">1:00 AM</button>
  <button id="01:15">1:15 AM</button>
  <button id="01:30">1:30 AM</button>
  <button id="01:45">1:45 AM</button>
  <br>

  <button id="02:00">2:00 AM</button>
  <button id="02:15">2:15 AM</button>
  <button id="02:30">2:30 AM</button>
  <button id="02:45">2:45 AM</button>
  <br>
  <button id="03:00">3:00 AM</button>
  <button id="03:15">3:15 AM</button>
  <button id="03:30">3:30 AM</button>
  <button id="03:45">3:45 AM</button>
  <br>
  <button id="04:00">4:00 AM</button>
  <button id="04:15">4:15 AM</button>
  <button id="04:30">4:30 AM</button>
  <button id="04:45">4:45 AM</button>
  <br>
  <button id="05:00">5:00 AM</button>
  <button id="05:15">5:15 AM</button>
  <button id="05:30">5:30 AM</button>
  <button id="05:45">5:45 AM</button>
  <br>
  <button id="06:00">6:00 AM</button>
  <button id="06:15">6:15 AM</button>
  <button id="06:30">6:30 AM</button>
  <button id="06:45">6:45 AM</button>
  <br>
  <button id="07:00">7:00 AM</button>
  <button id="07:15">7:15 AM</button>
  <button id="07:30">7:30 AM</button>
  <button id="07:45">7:45 AM</button>
  <br>
  <button id="08:00">8:00 AM</button>
  <button id="08:15">8:15 AM</button>
  <button id="08:30">8:30 AM</button>
  <button id="08:45">8:45 AM</button>
  <br>
  <button id="09:00">9:00 AM</button>
  <button id="09:15">9:15 AM</button>
  <button id="09:30">9:30 AM</button>
  <button id="09:45">9:45 AM</button>
  <br>
  <button id="10:00">10:00 AM</button>
  <button id="10:15">10:15 AM</button>
  <button id="10:30">10:30 AM</button>
  <button id="10:45">10:45 AM</button>
  <br>
  <button id="11:00">11:00 AM</button>
  <button id="11:15">11:15 AM</button>
  <button id="11:30">11:30 AM</button>
  <button id="11:45">11:45 AM</button>
  <br>
  <button id="12:00">12:00 PM</button>
  <button id="12:15">12:15 PM</button>
  <button id="12:30">12:30 PM</button>
  <button id="12:45">12:45 PM</button>
  <br>
  <button id="13:00">1:00 PM</button>
  <button id="13:15">1:15 PM</button>
  <button id="13:30">1:30 PM</button>
  <button id="13:45">1:45 PM</button>
  <br>
  <button id="14:00">2:00 PM</button>
  <button id="14:15">2:15 PM</button>
  <button id="14:30">2:30 PM</button>
  <button id="14:45">2:45 PM</button>
  <br>
  <button id="15:00">3:00 PM</button>
  <button id="15:15">3:15 PM</button>
  <button id="15:30">3:30 PM</button>
  <button id="15:45">3:45 PM</button>
  <br>
  <button id="16:00">4:00 PM</button>
  <button id="16:15">4:15 PM</button>
  <button id="16:30">4:30 9PM</button>
  <button id="16:45">4:45 PM</button>
  <br>
  <button id="17:00">5:00 PM</button>
  <button id="17:15">5:15 PM</button>
  <button id="17:30">5:30 PM</button>
  <button id="17:45">5:45 PM</button>
  <br>
  <button id="18:00">6:00 PM</button>
  <button id="18:15">6:15 PM</button>
  <button id="18:30">6:30 PM</button>
  <button id="18:45">6:45 PM</button>
  <br>
  <button id="19:00">7:00 PM</button>
  <button id="19:15">7:15 PM</button>
  <button id="19:30">7:30 PM</button>
  <button id="19:45">7:45 PM</button>
  <br>
  <button id="20:00">8:00 PM</button>
  <button id="20:15">8:15 PM</button>
  <button id="20:30">8:30 PM</button>
  <button id="20:45">8:45 PM</button>
  <br>
  <button id="21:00">9:00 PM</button>
  <button id="21:15">9:15 PM</button>
  <button id="21:30">9:30 PM</button>
  <button id="21:45">9:45 PM</button>
  <br>
  <button id="22:00">10:00 PM</button>
  <button id="22:15">10:15 PM</button>
  <button id="22:30">10:30 PM</button>
  <button id="22:45">10:45 PM</button>
  <br>
  <button id="23:00">11:00 PM</button>
  <button id="23:15">11:15 PM</button>
  <button id="23:30">11:30 PM</button>
  <button id="23:45">11:45 PM</button>
  <br>
  <button id="24:00">12:00 AM</button>
  <button id="24:15">12:15 AM</button>
  <button id="24:30">12:30 AM</button>
  <button id="24:45">12:45 AM</button>
  <br> <br>
  <button id="btnSubmit" onclick="postTimes()">Submit</button>
  <button id="btnInvert">Invert Selection</button>
  <br><br>

<form id="timeSubmission" method = post>
<!-- Appaerntly this is a good way of formatting things: <form id="timeSubmission" action="/times/<int:time_id>/edit" method="post"> -->
<div id="submissionForm"></div>
</form>


<script>
    
let btns = document.querySelectorAll('button:not(#btnSubmit):not(#btnInvert):not(#retroSubmit)');
const btnSubmit = document.getElementById('btnSubmit');
const btnInvert = document.getElementById('btnInvert');

function submitFunction()
{
    var form = document.getElementById("timeSubmission");
    var timeArray = [];

    updateForm();

    for (var currentTime = 0; currentTime < form.elements.length; currentTime++) 
    {
      var element = form.elements[currentTime];
  
      if (element.type !== "button") {
        var data = {
          name: element.name,
          value: element.value
        };
        timeArray.push(data);
      }
    }
  
    return timeArray;
}

function updateForm ()
{
    var container = document.getElementById("submissionForm");
    var newTime = document.createElement("input");
    
    btns.forEach(function (submitSelected)
    {
        newTime = document.createElement("input");
        newTime.name = (submitSelected.id); //This can be changed to be whatever is needed -SL
        newTime.className = "timeArr";
        newTime.type = "hidden";
      
        if (document.getElementById(submitSelected.id).style.background == 'green') 
        {
            //alert("Time is true");
            newTime.value = "1";
        }

        else 
        {
            //alert("Time is false");
            newTime.value= "0";
        }

        container.appendChild(newTime);
    });
}

function postTimes() {
    var postOutput= submitFunction(); 
    console.log(postOutput);

    alert("This function currently does not POST.\nHowever, if you check the debug console, you'll see the array that this function will POST in the future.")

    //document.getElementById("timeSubmission").submit(); //Hoping this matches the Submit function -SL
    //alert("Submission Successful!");
    //redirect?
  }

//All of the button code has been refactored into this -SL

    btns.forEach(function (buttonClick) 
{
    buttonClick.style.background = 'green';
    //BEWARE: Changing this to white/grey on default will mess with the logic. -SL

    buttonClick.addEventListener('click', function () 
    {

        if (document.getElementById(buttonClick.id).style.background == 'green') 
        {
            document.getElementById(buttonClick.id).style.background = 'red';
        } 

        else 
        {
            document.getElementById(buttonClick.id).style.background = 'green'; 
        }
    });
});


    btnInvert.addEventListener('click', function onClick() 
{
    

    btns.forEach(function (invertSelected)
    {
        if (document.getElementById(invertSelected.id).style.background == 'green')
        {
            document.getElementById(invertSelected.id).style.background = 'red';
        }

        else if (document.getElementById(invertSelected.id).style.background == 'red')
        {
            document.getElementById(invertSelected.id).style.background = 'green'
        }
    });

    window.alert("Selection Inverted.");
});
</script>
</body>
</html>