<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Create Meeting</title>
  <link rel = "stylesheet" href = "meetingStyle.css"> 
</head>

<body>
  <h1> Create a Meeting.</h1>
  <label for="meeting"> Pick a start and an end time for your meeting.</label>
  <input type="time" id="meeting" name="startTime" min="08:00" max="18:00" required />
  <input type="time" id="meeting" name="endTime" min="08:00" max="18:00" required />
  <input type="submit">
</body>

</html>