<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <title> Time Slot</title>
  <h1> Welcome to the Calender!</h1>
  <p> Please select a time slot that you are available on </p>


  <button id="btn">12:00 AM</button>
  <button id="btn1">1:00 AM</button>
  <button id="btn2">2:00 AM</button>
  <button id="btn3">3:00 AM</button>
  <button id="btn4">4:00 AM</button>
  <button id="btn5">5:00 AM</button>
  <button id="btn6">6:00 AM</button>
  <button id="btn7">7:00 AM</button>
  <button id="btn8">8:00 AM</button>
  <button id="btn9">9:00 AM</button>
  <button id="btn10">10:00 AM</button>
  <button id="btn11">11:00 AM</button>
  <button id="btn12">12:00 PM</button>
  <button id="btn13">1:00 PM</button>
  <button id="btn14">2:00 PM</button>
  <button id="btn15">3:00 PM</button>
  <button id="btn16">4:00 PM</button>
  <button id="btn17">5:00 PM</button>
  <button id="btn18">6:00 PM</button>
  <button id="btn19">7:00 PM</button>
  <button id="btn20">8:00 PM</button>
  <button id="btn21">9:00 PM</button>
  <button id="btn22">10:00 PM</button>
  <button id="btn23">11:00 PM</button>




  <script>
    const btn = document.getElementById('btn');
    btn.addEventListener('click', function onClick() {
      if (btn.style.background == 'green') {
        btn.style.background = 'red';

      } else {
        btn.style.background = 'green';
      }
    });

    const btn1 = document.getElementById('btn1');
    btn1.addEventListener('click', function onClick() {
      if (btn1.style.background == 'green') {
        btn1.style.background = 'red';

      } else {
        btn1.style.background = 'green';
      }
    });

    const btn2 = document.getElementById('btn2');
    btn2.addEventListener('click', function onClick() {
      if (btn2.style.background == 'green') {
        btn2.style.background = 'red';

      } else {
        btn2.style.background = 'green';
      }
    });

    const btn3 = document.getElementById('btn3');
    btn3.addEventListener('click', function onClick() {
      if (btn3.style.background == 'green') {
        btn3.style.background = 'red';

      } else {
        btn3.style.background = 'green';
      }
    });

    const btn4 = document.getElementById('btn4');
    btn4.addEventListener('click', function onClick() {
      if (btn4.style.background == 'green') {
        btn4.style.background = 'red';

      } else {
        btn4.style.background = 'green';
      }
    });

    const btn5 = document.getElementById('btn5');
    btn5.addEventListener('click', function onClick() {
      if (btn5.style.background == 'green') {
        btn5.style.background = 'red';

      } else {
        btn5.style.background = 'green';
      }
    });

    const btn6 = document.getElementById('btn6');
    btn6.addEventListener('click', function onClick() {
      if (btn6.style.background == 'green') {
        btn6.style.background = 'red';

      } else {
        btn6.style.background = 'green';
      }
    });

    const btn7 = document.getElementById('btn7');
    btn7.addEventListener('click', function onClick() {
      if (btn7.style.background == 'green') {
        btn7.style.background = 'red';

      } else {
        btn7.style.background = 'green';
      }
    });

    const btn8 = document.getElementById('btn8');
    btn8.addEventListener('click', function onClick() {
      if (btn8.style.background == 'green') {
        btn8.style.background = 'red';

      } else {
        btn8.style.background = 'green';
      }
    });

    const btn9 = document.getElementById('btn9');
    btn9.addEventListener('click', function onClick() {
      if (btn9.style.background == 'green') {
        btn9.style.background = 'red';

      } else {
        btn9.style.background = 'green';
      }
    });

    const btn10 = document.getElementById('btn10');
    btn10.addEventListener('click', function onClick() {
      if (btn10.style.background == 'green') {
        btn10.style.background = 'red';

      } else {
        btn10.style.background = 'green';
      }
    });

    const btn11 = document.getElementById('btn11');
    btn11.addEventListener('click', function onClick() {
      if (btn11.style.background == 'green') {
        btn11.style.background = 'red';

      } else {
        btn11.style.background = 'green';
      }
    });

    const btn12 = document.getElementById('btn12');
    btn12.addEventListener('click', function onClick() {
      if (btn12.style.background == 'green') {
        btn12.style.background = 'red';

      } else {
        btn12.style.background = 'green';
      }
    });

    const btn13 = document.getElementById('btn13');
    btn13.addEventListener('click', function onClick() {
      if (btn13.style.background == 'green') {
        btn13.style.background = 'red';

      } else {
        btn13.style.background = 'green';
      }
    });

    const btn14 = document.getElementById('btn14');
    btn14.addEventListener('click', function onClick() {
      if (btn14.style.background == 'green') {
        btn14.style.background = 'red';

      } else {
        btn14.style.background = 'green';
      }
    });

    const btn15 = document.getElementById('btn15');
    btn15.addEventListener('click', function onClick() {
      if (btn15.style.background == 'green') {
        btn15.style.background = 'red';

      } else {
        btn15.style.background = 'green';
      }
    });

    const btn16 = document.getElementById('btn16');
    btn16.addEventListener('click', function onClick() {
      if (btn16.style.background == 'green') {
        btn16.style.background = 'red';

      } else {
        btn16.style.background = 'green';
      }
    });

    const btn17 = document.getElementById('btn17');
    btn17.addEventListener('click', function onClick() {
      if (btn17.style.background == 'green') {
        btn17.style.background = 'red';

      } else {
        btn17.style.background = 'green';
      }
    });

    const btn18 = document.getElementById('btn18');
    btn18.addEventListener('click', function onClick() {
      if (btn18.style.background == 'green') {
        btn18.style.background = 'red';

      } else {
        btn18.style.background = 'green';
      }
    });

    const btn19 = document.getElementById('btn19');
    btn19.addEventListener('click', function onClick() {
      if (btn19.style.background == 'green') {
        btn19.style.background = 'red';

      } else {
        btn19.style.background = 'green';
      }
    });

    const btn20 = document.getElementById('btn20');
    btn20.addEventListener('click', function onClick() {
      if (btn20.style.background == 'green') {
        btn20.style.background = 'red';

      } else {
        btn20.style.background = 'green';
      }
    });

    const btn21 = document.getElementById('btn21');
    btn21.addEventListener('click', function onClick() {
      if (btn21.style.background == 'green') {
        btn21.style.background = 'red';

      } else {
        btn21.style.background = 'green';
      }
    });

    const btn22 = document.getElementById('btn22');
    btn22.addEventListener('click', function onClick() {
      if (btn22.style.background == 'green') {
        btn22.style.background = 'red';

      } else {
        btn22.style.background = 'green';
      }
    });

    const btn23 = document.getElementById('btn23');
    btn23.addEventListener('click', function onClick() {
      if (btn23.style.background == 'green') {
        btn23.style.background = 'red';

      } else {
        btn23.style.background = 'green';
      }
    });

  </script>



</body>

</html>